# Build
/dist/
/build/
*.out
*.exe

# LSP & Editor
/.clangd
/.vscode/

# Test source file
/test.qz

# Test files (For running tests)
/run.ps1
/run.sh

# Quartz & Quartz compiler
/quartz
/qtzc
/qtz
/out
/linker

/asm_out.bin
/asm_out

/cpu_state.txt
